metastore_db
derby.log
.ipynb_checkpoints/titanic-checkpoint.ipynb
.ipynb_checkpoints/titanic-datamunging-checkpoint.ipynb
.ipynb_checkpoints/01 - Análise Exploratória de Dados - Titanic-checkpoint.ipynb
.ipynb_checkpoints/02 - Machine Learning-checkpoint.ipynb
.ipynb_checkpoints/01 - Análise Exploratória de Dados - Titanic-checkpoint.ipynb
